body{
    background-image: url(../imagens/fundo-10.PNG);
    background-repeat: no-repeat; /*não repetir a imagem*/
    background-size: cover; /*cobrir todo tamanho no body*/
    background-position: center;

    font-family: 'VT3223', monospace; /*caso a fonte nao carregue vai utilizar outra do tipo monospace*/
    color: #f3f3f3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 570px; /*largura*/
    border: 2px solid #e12655;
    border-radius: 10px;
    overflow: hidden; /*tudo que passar do cartãp será escondido*/
}



.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontamente por causa do flex direction column*/
    gap: 10px;
}

.cartao .minhas-informacoes img{
    width: 96px;
    height: 96px;
    border: 3px solid #02d08f;
    border-radius: 50px;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;

}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc6;

}

.cartao .conteudo{

    margin-top: 15px;

}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%; 
    display: flex;
    justify-content: center; /*para fazer o alinhamento pelo centro*/
    padding: 10px o; /*espaçamento cima/baixo 10px direita/esquerda 0 */
    cursor: pointer; /*aparecer o cursor quando passar na abas */
    transition: background-color 0.2s ease-in-out ; /*melhorar o efeito de transição dos botoes ao passar mouse */
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
    
}

.cartao .abas .aba:hover{     /*faz o efeito mudando a cor quando passa o curso do mouse por cima */
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none; /* vai esconder os conteudos */
}

.informacoes-abas .informacao.selecionado{ /* vai mostrar apenas o que estiver selecionado */
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 18px;
    max-height: 180px; /* limitar a altura */
    overflow: auto; 
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #02d02f;
}

.redes-sociais{
    display: flex; /*vai posicionar um ao lado do outro e centralizado*/
    flex-direction: column; /* vai posicionar um abaixo do outro */
    gap: 25px; /*vai separar entre eles */
    align-items: center; /*vai alinhar os botões centralizado */
    max-height: 180px;
    overflow: auto; /* adicionando mais botões automaticamente vai aparecer o scrool*/

}

.redes-sociais li a{
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s;
}

.redes-sociais li a:hover{
    opacity: 0.8;

}


.redes-sociais .Linkedin{
    background-color: #1d87bd ;
}

.redes-sociais .GitHub{
    background-color: #545454;
}



